/*? GOOGLE FONTS  */

/* ? VARIABLES DE COLOR */
:root{
    --black: #000000;
    --white: #FFFFFF;
    --gray: #9f9fa0;
    --dark-gray: #313131;
    --media-gray: #d5d5db ;
}
/* ? ESTILOS BASICO DE LOS ELEMENTOS */
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

/*? TAMAÑOS DE LAS FUENTES  */

h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.3em;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.4em;
}
p{
    font-size: 1.25em;
}
span{
    font-size: 1.2em;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.columns .card .info-card a{
    text-decoration: none;
}
.columns .card .info-card .precio{
    font-size: 1.4em;
}

/* ?ESTILOS DEL CUERPO */
/*? estilos del boton de las barras  */
header{
    background-color:  rgb(182, 94, 247 );
    padding: 10px;
} 
 
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px 12px;
}
header ul li a{
    color: var(--black);
    font-weight: 800;
}
header ul li a:hover{
    color: rgba(239, 233, 243);
}

button.agregar-carrito{
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: bold;
    padding: 9px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    color: var(--white);
    background-color: rgb(166, 78, 231);
}
/* rbg 210, 105, 20 */
/**Efecto hover en los botones*/
button.agregar-carrito:hover{
    background-color: rgb(142, 6, 241 );
}

/** estilos de los contenidos  */

.container, 
.container-hero, 
.container-selec, 
.container-columns,
.container-card,
.estrellas, 
.footer-container{
    max-width: 1400px;
    margin: auto;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    margin-top: -16px;
    color: #FFFFFF;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(/assets/img/hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main section div.container-hero .cafe{
    color: rgb(182, 94, 247 );
}

main section form fieldset{
    display: none;
}

/** SECCION SELEC  */
.selec h2{
    text-align: center;
    margin: 0px auto;
    padding: 0 12px;
    color: #FFFFFF;
}

.selec .texto-img ul{
    padding-left: 0;
}
.selec .texto-img .marcas{
    color: rgb(182, 94, 247 );
}
.selec .container-selec{
    text-align: center;
    padding: 100px 12px;
    margin: 0px;
    background-color: rgb(218, 180, 245 );
}

.selec ul li{
    margin: 12px 0px;
    font-weight: bold;
}

/** SECCION DE LAS MOSTRADOR  */

.mostrador{
    background-color: rgb(218, 180, 245 );
    margin-top: -32px;
    text-align: center;
    color: var(--white);
}

.mostrador h2{
    margin-top: 0px;
    font-size: 3em;
}

.mostrador .container-card p , img{
    display: none;
}
.mostrador .container-card{
    padding: 100px 10px;

}
.mostrador .container-card .card-content #carta{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}
#carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(/assets/img/coffee1.jpg);
}
#carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(/assets/img/coffee2.jpg);
}
#carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(/assets/img/coffee3.jpg);
}


/*? seccion del footer  */
/* #footer-container{
    background-color: red;
} */
footer{
    margin-top: -20px;
    
    background-color: rgb(182, 94, 247 );
}
/* footer .info-footer{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    text-align: center;
    margin: 12px 0px;
} */


footer p{
    margin: 0;
    padding: 12px;
    color: #FFFFFF;
}

footer .footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

 

/** MEDIA QUERY DEL MODO ESCRITORIO  */
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header nav{
        height: 10vh;
        margin-top: -20px;
    }
    header div.bars{
        display: none;
    }

    header .container nav ul{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        line-height: 85px;
    }

    .hero h1{
        font-size: 5em;
    }
    .hero h2{
        font-size: 3.4em;
    }

    header .container .card-carrito{
        background-image: url(/assets/img/cart.png);
        width: 30px;
        height: 28px;
        
    }

    .card-carrito{
        position: absolute;
        display: flex;
        margin-top: -55px;
        right: 30px;
    }

    .container-selec{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .container-selec .texto-img{
        
        text-align: center;
        padding: 0px 10px;
    }

    /*? Seccion del input en el hero  */

    main section form fieldset{
    display: flex;
    height: 3.3rem;
    width: 30rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin: auto;
    border-radius: 1.2rem;
    background-color: rgb(166, 60, 245   );
    padding: 0px 10px;
}

    main section form fieldset input[type=text]{
    margin: 0;
    padding: 0.55rem 1.2rem;
    display: block;
    max-width: 100%;
    border: none;
    border-radius: 1.8rem 0 0 1.8rem;
    background-color: var(--media-gray);
    font-size: 1rem;
    outline: none;
}
/* header section form fieldset input[type=text]::placeholder{
    color: var(--gray);
    
} */

    main section form fieldset input[type=submit]{
    margin: 0 15px;
    padding: 0.50rem 0.5rem;
    width: 70%;
    color: var(--white);
    background-color: var(--gray);
    border: none;
    border-radius: 1rem;
}

    main section form fieldset input[type=submit]:hover{
    background-color: var(--dark-gray);
    }

    .selec .image-container{
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(/assets/img/coffee3.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
    }

    /*? seccion del card-content  */

    button.agregar-carrito{
        font-size: 22px;
    }
    .mostrador .card-content{
        display: flex;
        justify-content: center;
    }

    .mostrador .card-content p{
        display: block;
        margin-bottom: 20px;
        
    }

    

    .card-content h4{
        margin-top: 0;
    }
    .card-content{
        padding: 15px;
    }


    .mostrador .card-content .estrellas{
        background-image: url(/assets/img/estrellas.png);
        height: 13px;
        width: 82px;
    }


    /*? seccion del footer  */
    footer .footer{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #FFFFFF;
    }

    footer .footer p{
        color: #FFFFFF;
    }



}
